@import "../../variables.scss";

.loader {
  position: relative;
  display: block;
  width: 8px;
  height: 40px;
  margin: 20px auto;

  color: #ffffff;

  background: $site-color-1;
  border-radius: 4px;

  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after, .loader::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);

  width: 8px;
  height: 40px;

  background: $site-color-1;
  border-radius: 4px;

  animation: animloader 0.3s  0.45s  linear infinite alternate;
}

.loader::before {
  left: -20px;

  animation-delay: 0s;
}

@keyframes animloader {
  0%   {
    height: 48px
  }

  100% {
    height: 4px
  }
}
