@import "../../variables";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  min-width: 160px;
  height: 36px;
  padding: 6px 14px;

  font: inherit;
  font-weight: 700;
  color: $site-color-4;

  background-color: $site-color-2;
  border: 2px solid $site-color-2;
  border-radius: 6px;
  cursor: pointer;

  transition:
    background-color $trans-default,
    border-color $trans-default;

  &:hover,
  &:focus {

    background-color: $site-color-3;
    border-color: $site-color-3;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
