@mixin clear-list {
  margin: 0;
  padding: 0;

  list-style: none;
}


@mixin vp-1439 {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: 1279px) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin vp-413 {
  @media (max-width: 413px) {
    @content;
  }
}
