// Colors
// ---------------------------------

$color-transparent:                 rgba(255, 255, 255, 0);

$site-color-1:                      #fff2d8;
$site-color-2:                      #ead7bb;
$site-color-3:                      #bca37f;
$site-color-4:                      #113946;

$accent-color:                      #bb2525;
$accent-color-hover:                #820300;


// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
